name: deploy-site
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    if: github.repository == 'ProjectPythiaCookbooks/projectpythiacookbooks.github.io'
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@master
        with:
          channels: conda-forge,nodefaults
          channel-priority: strict
          activate-environment: pythia
          auto-update-conda: false
          python-version: 3.9
          environment-file: ci/environment.yml
          mamba-version: '*'
          use-mamba: true

      - name: Build
        run: |
          conda env list
          cd site
          make -j4 html
      - name: Zip the site
        run: |
          set -x
          set -e
          if [ -f site.zip ]; then
              rm -rf site.zip
          fi
          zip -r site.zip ./site/_build/html
      - uses: actions/upload-artifact@v2
        with:
          name: site-zip
          path: ./site.zip

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site/_build/html
          cname: cookbooks.projectpythia.org
